* {
  margin: 0px;
}
.container {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Image/gris2.jpg);
} 
/* DEBUT MENU */

  .menu ul {
  margin-left: 500px;
  position: fixed;
}
.menu ul li {
  display: inline;
  line-height: 60px;
  padding: 20px;
  
  
}
.menu ul li a {
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: rgb(80, 0, 53);
  
}
.menu ul li a:hover {
  color: rgb(172, 6, 122); 
  
} 
/* FIN MENU */


/* DEBUT HEADER  */
 .header h2 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: rgb(129, 9, 99);
  font-size: 30px;
  top: 300px;
  display: flex;
  align-self: baseline;
}  
.header p {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: rgb(160, 0, 88);
  font-size: 30px;
  top: 300px;
  display: flex;
  align-self: baseline;
  font-style: italic;
}
/* FIN HEADER */


/* DEBUT A PROPOS DE MOI */
.about {
  background-color: rgba(222, 223, 215, 0.8);
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.about h2 {
  font-family: Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(122, 4, 97);
}
 .text-md-left {
  font-family: Verdana, sans-serif;
  font-size: 25px;
  margin-top: 40px;
 text-align: center;
} 
/* FIN A PROPOS DE MOI */


/* DEBUT COMPÉTENCES */


.dispo ul li {
 display: inline;
 justify-content:space-evenly;
 align-items: center;
}
.content {
  background-color: rgba(222, 223, 215, 0.8);
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.content h2 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: rgb(122, 4, 97);
  font-size: 30px;

}
/* FIN COMPÉTENCES */


/* DEBUT PROJET */
.projet {
  background-color: rgba(222, 223, 215, 0.8);
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  
}
.projet h2 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: rgb(122, 4, 97);
  font-size: 30px;
}

  figcaption {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: rgb(122, 3, 133);
  
}

/* FIN PROJET */

/*  DEBUT CONTACT */
form {
 
  margin: 0 auto;
  width: 400px;

 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}



label {
 
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
 
  font: 1em sans-serif;

  
  width: 300px;

 
       box-sizing: border-box;

  
  border: 1px solid #999;
}


textarea {
  
  vertical-align: top;

  
  height: 5em;

  
  resize: vertical;
}

.button {
 
  padding-left: 90px; 
}

button {
  
  margin-left: .5em;
}
.contact h2 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color:rgb(122, 4, 97);
  font-size: 30px;
}
/* FIN CONTACT */
